<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/list.css">
    <title>Follow List</title>
</head>

<body>
    <div class="container">
        <div class="filter-box">
            <h1>Users <%= user.username %> Follows</h1>
            <ul id="authorList">
                <% user.follows.forEach(followingUser=> { %>
                    <li class="author-item">
                        <img src="<%= followingUser.profilePicture %>"
                            alt="<%= followingUser.username %>'s profile picture">
                        <a href="/user/<%= followingUser._id %>/profile">
                            <span>
                                <%= followingUser.username %>
                            </span>
                        </a>
                    </li>
                    <% }); %>
            </ul>
            <button class="submit-btn" onclick="history.back()">← Back</button>
        </div>
    </div>
</body>

</html>