<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/list.css">
    <title>Follower's List</title>
</head>

<body>
    <div class="container">
        <div class="filter-box">
            <h1>
                <%= user.username %> 's Followers
            </h1>
            <ul id="authorList">
                <% user.followedBy.forEach(follower=> { %>
                    <li class="author-item">
                        <img src="<%= follower.profilePicture %>" alt="<%= follower.username %>'s profile picture">
                        <a href="/user/<%= follower._id %>/profile">
                            <span>
                                <%= follower.username %>
                            </span>
                        </a>
                    </li>
                    <% }); %>
            </ul>
            <button class="submit-btn" onclick="history.back()">← Back</button>
        </div>
    </div>
</body>

</html>